.bubble {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: plum;
  border: 3px solid gray;
  color: gray;
  text-align: center;
  font: 32px Arial, sans-serif;
  margin-top: 15px;
  margin-left: 15px;
}
